@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-forge-950 text-gray-200 font-sans antialiased bg-noise;
        background-blend-mode: overlay;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif font-bold text-white uppercase tracking-wider;
    }
}

@layer utilities {
    .text-glow {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    .glass-panel {
        @apply bg-forge-900/80 backdrop-blur-sm border border-white/10;
    }

    .bg-noise {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
    }
}